/* GLOBAL STYLES */
body {
  background-color: coral;
}
div#main {
  margin: 0px auto;
  width: 60%;
}
div#banner-prime {
  text-align: center;
}
div#banner-prime h1 { }
div#banner-prime h2 { }
/*** * * HEADER * * ***/
/*** * * NAVIGATION * * ***/
nav#site-nav ol {
  text-align: center;
}
nav#site-nav li {
  display: inline-block;
  margin: 0 auto;
}
/*** * * DOCUMENT FOOTER * * ***/
div#footer {
  text-align: center;
}
/*** * * LOGIN PAGE * * ***/
form#access-portal p {
  text-align: center;
}

/*** * * REDIRECT PAGE * * ***/ 
p#redirect-msg {
  text-align: center;
}
