/* IMPORTS */
@font-face {
  font-family: parklane;
  src: url("../assets/fonts/parklane.ttf");
}
@font-face {
  font-family: riesling;
  src: url("../assets/fonts/riesling.ttf");

}
/* GLOBAL */
body {
  background: url(../assets/img/art-deco.jpg) no-repeat;
  background-color: black;
  background-position: 50% 20px;
  background-size: 700px 650px;
}
div#main {
  margin: 0 auto;
  text-align: center;
  width: 700px;
}

/*** * * HEADER * * ***/
div#banner-main {
  line-height: 3em;
  margin-top: 45px;
  margin-left: 8px;
  min-width: 700px;
}
div#banner-main h1 {
  color: silver;
  font-family: parklane;
  font-size: 3.2em; 
}

/*** * * NAVIGATION * * ***/
nav#site-nav ol {
  margin-top: 30px;
}
nav#site-nav li {
  background-color: white;
  display: inline-block;
}
nav a {
  text-decoration: none;
  padding: 5px;
}
/*** * * RSVP FORM * * ***/
/*** * * DOCUMENT FOOTER * * ***/
div#footer {
  margin-top: 177px;
  text-align: center;
}
div#footer p {
  color: silver;
  text-align: center;
}
