/* IMPORTS */
@font-face {
  font-family: parklane;
  src: url("../assets/fonts/parklane.ttf");
}
@font-face {
  font-family: riesling;
  src: url("../assets/fonts/riesling.ttf");

}
/* GLOBAL */ body {
  background: url(../assets/img/art-deco.jpg) no-repeat;
  background-color: black;
  background-position: 50% 20px;
  background-size: 700px 650px;
}
div#main {
  height: 343px;
  min-width: 700px;
  text-align: center;
}

/*** * * HEADER * * ***/
div#banner-portal {
  line-height: 3em;
  margin-top: 200px;
  margin-left: 17px;
  min-width: 700px;
}
div#banner-portal h1 {
  color: silver;
  font-family: parklane;
  font-size: 3.5em; 
}
div#banner-portal h2 {
  color: silver;
  font-family: riesling;
  font-size: 4em;
}

/*** * * LOGIN PAGE * * ***/
form#access-portal {
  margin-top: 10px;
}
form#access-portal label {
  color: silver;
}
form#access-portal p {
  text-align: center;
}
form#access-portal input[type="text"] {
  border: 3px solid transparent;
  margin-top: 8px;
  padding: 3px 5px;
}
form#access-portal input[type="text"]:focus {
  border: 3px inset black;
  box-shadow: 0px 3px 3px 0px black;
}
form#access-portal input[type="submit"] {
  margin-top: 30px;
}

/*** * * DOCUMENT FOOTER * * ***/
div#footer {
  text-align: center;
}
div#footer p {
  color: silver;
  text-align: center;
}
